.join-consultation-image {
  width: 100px;
}
.join-consultation-button {
  background-color: #354b60;
  color: white;
  width: 150px;
  height: 46px;
}

.join-image-div {
  width: 70%;
}
.join-h1 {
  font-size: xxx-large;
}

