.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-1 {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.card-1 img {
  width: 50%;
}

.card-text {
  width: 50%;
  padding: 20px;
}

@media (max-width: 767px) {
  .card-1 {
    width: 100%;
  }
}
@media (min-width: 750px) and (max-width: 1242px) {
  .card-1 {
    width: 50%;
    align-self:center;
  }
  .card-container {
    justify-content: center;
  }
}